.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
  These are styles that are shared between component examples
  in order to have a consistent style.
 */

 body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  margin: 0;
  color: #333;
}

.branding {
  border-bottom: 1px solid hsl(200, 0%, 90%);
}

.branding h1,
.branding h2 {
  font-weight: 200;
}

.padbox {
  padding: 40px;
}